<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>{{.Title}}</title>
<link rel="stylesheet" href="/assets/elements/styles.min.css">
<style>html, body { height: 100%; margin: 0; } body { display: flex; flex-direction: column; } .portal-docs { flex: 1; min-height: 0; }</style>
</head>
<body>
{{template "nav" .}}
<div class="portal-docs">
<div class="sl-elements sl-antialiased sl-h-full sl-text-base sl-font-ui sl-text-body">
<div class="sl-elements-api sl-flex sl-inset-0 sl-h-full">
{{template "sidebar" .}}
<div class="sl-overflow-y-auto sl-flex-1 sl-w-full sl-px-24 sl-bg-canvas">
<div class="sl-py-16">
<div class="sl-prose sl-markdown-viewer">
<h1>{{.Title}}</h1>
{{if .Contents}}{{range .Contents}}{{if .Title}}<h2>{{.Title}}</h2>
{{end}}<ul>
{{range .Links}}<li><a href="{{.URL}}">{{.Title}}</a></li>
{{end}}</ul>
{{end}}{{with .Docs}}<h2>Other documents</h2>
<ul>
{{range .}}<li><a href="{{.URL}}">{{.Path}}</a></li>
{{end}}</ul>
{{end}}{{else}}<ul>
{{range .Docs}}<li><a href="{{.URL}}">{{.Path}}</a></li>
{{end}}</ul>
{{end}}</div>
</div>
</div>
</div>
</div>
</div>
</body>
</html>
